.four-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.four-pokemons {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 768px) {
  .four-pokemons {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}

.four-pokemon__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.four-pokemon__image {
  width: 120px;
  height: 120px;
}
