.three-background {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: background-color 0.5s ease-in-out;
}

.three-container {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.three-button:hover {
  font-weight: bold;
  text-decoration: underline;
}

.three-button {
  font-size: 1.3rem;
}
